html, body {
    margin: 0;
    padding: 0;
    background-color: #14ca664b;
}

.top-bar {
    background-color: rgba(7, 114, 7, 0.842);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 0 20px;
}

.top-bar p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 30px;
    font-size: 20px;
    color: #000000;
    margin: 0 10px;
}

.text-box {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

.text-box::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    border-radius: 5px 0 0 5px;
}

.green-stripe::before {
    background-color: #029e31;
}

.yellow-stripe::before {
    background-color: #FFD700;
}

.text-box h1 {
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.text-box p {
    margin: 5px 0 0 0;
    font-size: 16px;
    color: #000000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-item {
    display: none;
    position: absolute;
    background-color: #018512;
    min-width: 80px;
    z-index: 1;
}

.dropdown-item a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
}

.dropdown-item a:hover {
    background-color: #02bd21;
}

.dropdown:hover .dropdown-item {
    display: block;
}

.dropdown:focus-within .dropdown-item {
    display: block;
}
